@import url("https://fonts.googleapis.com/css?family=Muli&display=swap");
@import url("https://fonts.googleapis.com/css?family=Lato:300,400&display=swap");

* {
  box-sizing: border-box;
}

body {
  background: #efefbb;
  background: -webkit-linear-gradient(to right, #d4d3dd, #efefbb);
  background: linear-gradient(to right, #d4d3dd, #efefbb);

  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-family: "Lato";
  margin: 0;
}

h1 {
  letter-spacing: 3px;
  text-align: center;
}

.poke-container {
  display: flex;
  flex-wrap: wrap;
  align-items: space-between;
  justify-content: center;
  margin: 0 auto;
  max-width: 1200px;
}

.pokemon {
  background-color: #eee;
  border-radius: 20px;
  box-shadow: 0 3px 15px rgba(100, 100, 100, 0.5);
  margin: 10px;
  padding: 20px;
  text-align: center;
  height: 250px;
  width: 250px;
  color: black;
}

.pokemon .img-container {
  background-color: rgba(255, 255, 255, 0.6);
  border-radius: 50%;
  width: 120px;
  height: 120px;
  text-align: center;
}

.pokemon .img-container img {
  margin-top: 20px;
  max-width: 90%;
}

.pokemon .info {
  margin-top: 20px;
}

.pokemon .number {
  background-color: rgba(0, 0, 0, 0.1);
  border-radius: 10px;
  font-size: 0.8em;
  padding: 5px 10px;
}

.pokemon .name {
  margin: 15px 0 7px;
  letter-spacing: 1px;
}

.loader {
  display: block;
  width: 100%;
}

.loading {
  margin-left: 50%;
  width: 100px;
}

html {
  height: 100%;
}

.card-img {
  display: block;
  margin: auto;
  max-width: 50%;
  height: auto;
  vertical-align: bottom;
}

.card-name {
  display: block;
  margin: auto;
  width: fit-content;
  margin-top: 19px;
}

.pok-div {
  cursor: pointer;
}

.pokemonDetails {
  width: 60%;
  height: 90%;
  display: contents;
}

.card-img-details {
  margin: auto;
  display: block;
  max-height: 300px;
  max-width: 300px;
}

.details-info {
  margin: 100px;
}
